@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --coral: #EE896D;
    --green: #BAD36D;
    --nude: #E8CC95;
    --black: #141414;
    --blue: #C3E7DC;
    --white: #FFFFFF;
    --primary: #F9F3DD;
    --orange: #FFAB5D;
    --dblue: #b2d4c9;
}

body {
    background-color: var(--primary);
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Lato', sans-serif;
}


.top-container {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--primary);
    height: 120px;
    border-bottom: solid;
}

.logo-container {
    display: flex;
    margin-top: 1px;
    color: var(--coral);
    text-align: center;
    padding: 10px;
    font-family: Caveat;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}

.nav-container.active {
    border-bottom: solid;
    color: var(--coral);
}


.nav-container {
    margin: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* padding: 10px; */
    font-size: 23px;
    font-style: normal;
    font-weight: 750;

    /* line-height: normal; */
    /* text-decoration-line: underline; */
}

.login-container {
    text-align: center;
    padding: 10px;
}

.paw1 {
    width: 61px;
    height: 65px;
    transform: rotate(-36.308deg);
    margin-right: 10px;
    margin-left: 10px;
}

.paw2 {
    width: 27.112px;
    height: 30.288px;
    transform: rotate(35.213deg);
    margin-right: 10px;
    margin-left: 10px;
}


.about h1 {
    font-family: Caveat;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    color: var(--orange);
    text-align: center;
}

.about p {
    font-size: 30px;
    line-height: 1.4;
}

.about {
    width: 1100px;
    text-align: center;
    padding-left: 200px;
}


.why h2 {
    font-family: Caveat;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    color: var(--coral);
    text-align: left;
    margin-bottom: 20px;
}

.why li {
    font-size: 21px;
    line-height: 1.4;
}

.why {
    width: 720px;
    margin-left: 55px;
}

p {
    font-size: 21px;
    line-height: 1.4;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}


.story h2 {
    font-family: Caveat;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    color: var(--green);
    text-align: left;
    margin-bottom: 20px;
}

.story {
    width: 720px;
}

.join h2 {
    font-family: Caveat;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    color: var(--dblue);
    text-align: left;
    margin-bottom: 20px;
}


.join {
    width: 720px;
    margin-left: 55px;
}


.img-cont {
    justify-self: right;
}

.mainimg {
    width: 536px;
    height: 417px;
    border-radius: 25px;
    margin-left: 5px;
}